
.navStyle {
    transform: translateX(-100%); 
    transition: transform 0.3s ease;
    z-index: 5;
}

.navStyle.active {
    transform: translateX(0); 
}

#hamburger {
    cursor: pointer;
    transition: transform 0.3s ease;
}

#hamburger.active {
    transform: rotate(90deg);
}

#mainContent.sidebar-open {
    margin-left: 25vw; 
    transition: margin-left 0.3s ease;
}

@media screen and (max-width: 768px) {
    .navStyle {
        width: 100%; 
    }

    #mainContent.sidebar-open {
        margin-left: 0; 
    }
}
